/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root{
    --secondary-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;

    --title-text-color:#212121;
    --title-secondary-text-color:#FFFFFF;
    --primery-text-color:#757575;
    --footer-text-color:rgba(255, 255, 255, 0.6);
   
    --accent-color:#2196F3;
    --button-color:#2196F3;
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,
*::before,
*::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

*::-moz-selection {
    color:green;
    background-color: pink;
}

*::selection {
    color:green;
    background-color: pink;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}


body {
    background-color:#ffffff;
    color: var(--primery-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    padding-top: 80px;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Утилиты */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    display: block;
}   

img{
    display: block;
} 


/* HEADER  */
/* .header{
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 80px;

} */

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--title-text-color);
    margin-right: 85px;
    padding-top: 25px; 
    padding-bottom: 25px;
}

.logo:hover,
.logo:focus{
    color: var(--accent-color);
}

.web{
    color:var(--accent-color);
}

.site-nav-list-item-link,
.header-address-mail, 
.header-address-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;  
}

/* .site-nav-list-item-link{
    display: block;
   
} */

 h2{
    margin-top: 0;
    margin-bottom: 0;
 }
 
.site-nav-list-item-link:hover,
.site-nav-list-item-link:focus,
.header-address-mail:hover,
.header-address-mail:focus, 
.header-address-tel:hover,
.header-address-tel:focus,
.header-address-svg:focus{
    color: var(--accent-color); 
}   
  
.header-address-mail, 
.header-address-tel
    {color:var(--primery-text-color); 
    display: -webkit-inline-box; 
    display: -ms-inline-flexbox; 
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.site-nav-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-align: center;  
        -ms-flex-align: center;  
            align-items: center;
}

.site-nav-list-item:not(:last-child){
    margin-right: 50px;
}

 .navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
 }  

.header .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    -webkit-box-pack:justify; 
        -ms-flex-pack:justify; 
            justify-content:space-between;
}

.header-address-mail{
    margin-right: 50px;
}
 
 /* .header{
    padding-top: 25px;
    padding-bottom: 25px; 
} */

.header-address{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-address-svg{
    height: 20px;
    width: 20px;
    fill: #757575;
    margin-right: 10px;
}
/* .header-address-svg:hover{
    fill: var(--accent-color);
} */

.header-address-list{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}


.header-address-tel:hover .header-address-svg,
.header-address-mail:hover .header-address-svg,
.header-address-mail:focus .header-address-svg,
.header-address-tel:focus .header-address-svg{
    color:var(--accent-color);
    fill:var(--accent-color);
} 


.header-address-items{
    margin-top: 0;
    margin-bottom: 0;
}

/* .header-address-mail::before{
    display: inline-flex;
    content:"";
    background-image: url(../image/envelope.svg);
    width: 16px;
    height: 11.2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
   
}
    
.header-address-tel::before{
    display: inline-block;
    content:"";
    background-image: url(../image/tel.svg);
    width: 10px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
  
} */

.site-nav-list-item.current::after{
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background: var(--accent-color);
    border-radius: 2px;  
    padding-bottom: 0;
}
   
.site-nav-list-item-link.current{
    padding-bottom: 28px;
}




 /*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* MAIN */

  /* Hero */

  /* Hero */
  .hero{
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36; 
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-secondary-text-color);
    margin-top: 0px;
    margin-bottom: 30px;
}
.hero.overlay{
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(47, 48, 58, 0.8)),
        to(rgba(47, 48, 58, 0.8))),
    url("../image/Header.jpg");
    background-image: -o-linear-gradient(
        top,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
    url("../image/Header.jpg");
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
    url("../image/Header.jpg"); 
     background-color: black; 
}
   
.btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    background-color: var(--button-color);
    color: var(--title-secondary-text-color);
    padding: 10px 32px;
    min-width: 136px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

    /* transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 500ms; */
}




/* Signs about us */
.about-us{
    padding-top: 94px;
    padding-bottom: 47px; 
}

.section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;   
}

.section-list:not(:last-child){
    margin-right: 30px;
}

.section-title{
    color:var(--title-text-color);
    margin-top: 30px;
    margin-bottom: 10px;  
}

.discription{
    font-weight: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.about-us-svg{
    width: 70px;
    height: 70px;
}

.section-list-div{
    height: 120px;
    width: 270px;
    background-color:var(--secondary-bg-color);
    border-radius: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
} 

.about-us-svg:hover{
    fill:var(--accent-color);
}



/* .section-list::before{
    display: block;
    content: "";
    height: 120px;
    background-color: var(--secondary-bg-color);
    background-repeat: no-repeat;
    background-position: center;

    
}

.section-list.plate::before{
    background-image: url(../image/plate.svg);
    
}

.section-list.clock::before{
    background-image: url(../image/clock.svg);
}

.section-list.comp::before{
    background-image: url(../image/comp.svg);
}

.section-list.cosm::before{
    background-image: url(../image/cosmonaut.svg);
}

.section-list:hover{
  background-color : #2196F3;
} */


/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* What we do */

.section-we-do{
    font-weight: bold;
    letter-spacing: 0.03em;
    padding-top: 47px;
    padding-bottom: 94px;
}

.section-title-we-do{
    margin-top: 0px;
    margin-bottom: 50px;
}

.list-we-do{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0; 
    margin-bottom: 0;
    padding-left: 0;
}

.section-title-we-do,
.section-title-our-team,
.section-title-regular-clients{
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
    text-align: center;
}

.discription-we-do{
    position: absolute;
    bottom: 0;
    left: 0;
 
    display: -webkit-box;
 
    display: -ms-flexbox;
 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    margin: 0;
 
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color:var(--title-secondary-text-color);
  
}

.list-we-do-items{
    position: relative;
}

.list-we-do-items:not(:last-child){
    margin-right: 30px;
} 




/* Our team */
 .our-team{
    background-color: var(--secondary-bg-color);
    padding-top: 94px;
}

.our-team .list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.section-title-our-team{
  margin-top: 0;
  margin-bottom: 50px;
 
}

.our-team .items:not(:last-child){
    margin-right: 30px;
}

.social-list{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
}

.social-list-items:not(:last-child){
    margin-right: 22px;
}

.section-title-our-team-names{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color:var(--title-text-color);
    margin-top: 30px;
}

.description-our-team{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 10px;
    margin-bottom: 0;
}

h3{
    margin-bottom: 0;
}
 .social-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    padding-bottom: 24px;
} 

.items{
    text-align: center;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.our-team-list{
    padding-bottom: 94px;
}
  
.social-list-items-links{
    height: 44px;
    width: 44px; 
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    fill:#71778b;
    /* vertical-align: middle; */
    -webkit-transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 /* .social-list-items-links:hover{
    background-color: var(--button-color);
} 

.social-list-items-links-svg:hover{
    fill:#FFFFFF;
} */

 .social-list-items-links:hover,
 .social-list-items-links:focus{
    background-color: var(--button-color);
    fill:#FFFFFF;
} 

 .social-list-items-links-svg{
    height: 20px;
    width: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}  

  /* .social-list-items{
     padding-bottom: 30px; 
    display: inline-block;
    height: 44px;
    width: 44px;
    background-repeat: no-repeat;
    background-position: center; 
}  */

/* .social-list-items:hover{
    background-color: var(--button-color);
}
.social-list-items.list.Instagram{
    background-image: url("../image/instagram2.svg");
}
.social-list-items.list.Twitter{
    background-image: url("../image/twitter1.svg");
}

.social-list-items.list.Facebook{
    background-image: url("../image/facebook1.svg");
}

.social-list-items.list.Linkedyn{
    background-image: url("../image/linkedin1.svg");
} */


/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Regular clients */
.regular-clients .list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 94px;
}

.section-title-regular-clients{
    padding-top: 94px;
    margin-bottom: 50px;
}

.regular-clients-links:not(:last-child){
    margin-right: 30px;
}
   
.regular-clients-links a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90px;
    width:  170px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    -webkit-transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    -o-transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients-links{
    fill:#AFB1B8;
}

.regular-clients-links a:hover,
.regular-clients-links a:focus{
    border:1px solid #2196F3;
    fill:var(--accent-color);
}


/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Footer */

.footer .logo{
    padding-bottom: 0;
    padding-top: 0;
}

footer{
    background-color: var(--footer-bg-color);
    color:var(--title-secondary-text-color);
}

.Studio-f{
    color:var(--title-secondary-text-color);
}

.Studio-f:hover,
.Studio-f:focus{
    color: var(--accent-color);
}   

.contacts-footer{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
}


.contact-mail-f,
.contact-tel-f{
    color: rgba(255, 255, 255, 0.6);
}

.contacts-join-f,
.contact-subscribe-f{
    font-weight: bold;
    text-transform: uppercase;
}

.wrapper-f-subscribe{
    margin-left: 94px;
    /* margin-top: 72px;
    margin-bottom: 94px; */
}

.wrapper-f-subscribe-list{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-top: 20px;
}

.footer-email,
.footer-button{
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    text-align: start;
    padding-left:16px;
}

.footer-button{
    width: 200px;
    background:var(--button-color);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color:#FFFFFF;
    margin-left:12px;
    padding-left: 29px;
    letter-spacing: 0.06em;
    /* cursor: pointer; */
}

.bnt-foooter-svg{
    vertical-align: middle;
    margin-left: 10px;

    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* .footer-button:hover .bnt-foooter-svg{
    transform: translateY(-40px);
} */
   



/* 
  .contact-subscribe-btn-f{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
     display: flex;
    align-items: center;
    text-align: center; 
    letter-spacing: 0.06em;
}

.contact-subscribe-btn-f:hover,
.contact-subscribe-btn-f:focus{
    color:var(--title-secondary-text-color);
    background-color: var(--button-color);
}

.btn.footer:hover,
.btn.footer:focus{
    color:var(--title-text-color);
    background-color: var(--button-color);
} 

.btn.footer::after{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    content: "";
    background-image: url(./image/symbol-defs.svg#icon-iconsend);
    background-size: contain; 
    cursor: pointer;  
} */
.footer{
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer1{
    margin-right: 70px;
    /* margin-top: 60px;
    margin-bottom: 60px; */
}

.wrapper-f .items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    /* margin-top: 72px;
    margin-bottom: 100px; */
}

.item-f{
    padding-left: 0;
}

.social-list-items-f{
  
    display: inline-block;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    -o-transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.social-list-items-f.list:hover{
    background-color: var(--button-color);
}

.social-list-items-f.list.Instagram {
    background-image: url(../image/instagramW.svg);
}

.social-list-items-f.list.Twitter {
    background-image: url(../image/twitterW.svg);
}

.social-list-items-f.list.Facebook {
    background-image: url(../image/facebookW.svg);
}

.social-list-items-f.list.Linkedyn {
    background-image: url(../image/inW.svg);
}   

.contact-form-email-f{
    min-height: 50px;
    width: 358px;
    background-color: transparent;
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.contact-form-email-f:focus:required:valid:not(:placeholder-shown){
    border: 1px solid green;
}

.contact-form-email-f:focus:required:invalid:not(:placeholder-shown){
    border: 1px solid red;
}
.contact-form-email-f:focus{
    /* outline:none; */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* PORTFOLIO */

/* Our works */
.our-works-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 93px;
}
.container.portfolio{
    border-top: 1px solid #EEEEEE;
}

.our-work-items{
margin-right: 30px; 
}

.our-works-list-btn{
    height: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;   
    color:var(--title-text-color);
    border-radius: 4px;
    border: transparent;

    -webkit-transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    -o-transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-works-list-btn:hover,
.our-works-list-btn:focus{
    color:var(--title-secondary-text-color);
    background-color: var(--button-color);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* Pictures */
.pictures{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 94px;
}


.pictures-items-img{
    position: relative;
    display: inline-block;
    vertical-align: middle;
   
} 
/* .pictures-items-img::before{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    content: "";
    width:100% ;
    height:100% ;
    opacity: 0;
} */
.picture-discription{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    content: "";
    widows: 100%; 
    height:100% ;
    margin-top: 0;
    font-size: 18px;
    line-height: 28px;
    padding: 63px 24px 63px 24px;
    letter-spacing: 0.03em;
    color:var(--title-secondary-text-color);
    /* opacity: 0;  */

    -webkit-transform:translateY(100%);

        -ms-transform:translateY(100%);

            transform:translateY(100%);
    -webkit-transition:-webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition:-webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .picture-discription:hover{
    opacity:1;
} */

 .pictures-items-link:hover .picture-discription{
    -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
            transform:translateY(0);
} 

.pictures-items-img{
    overflow: hidden;
}

.pictures-items-link-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-text-color);
    margin-top: 20px;
    padding-left: 24px;
}

.pictures-items-link-position{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
    padding-left: 24px;
    margin-top: 4px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.pictures-items{
    width: 370px;
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.pictures-items:hover{
    -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
     0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
            box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
     0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
}

.pictures-items:nth-child(3n){
    margin-right: 0;
}

.pictures-items:nth-last-child(-n+3){
    margin-bottom: 0;
}

/* Modal window */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    

}

.contact-form-hero{
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    outline: 1px solid black;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: auto;
    padding: 40px 10px 40px 10px;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;

}

.contact-form-input{
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 42px;
}

.form-fild:not(:last-child){
    margin-bottom: 28px;
}

.contact-form-input.textarea{
    min-height: 120px;
    padding-left: 16px;

}

/* .contact-form-input:focus:required:valid{
    border: 1px solid green;
}

.contact-form-input:focus:required:invalid:not(:placeholder-shown){
    border: 1px solid red;
} */

 .contact-form-input:focus{
    outline:none;
    border-color:var(--accent-color) ;
}  
/*
не делаем, так как убиваем все доступность Саша видео 12(пользователю понятно, что это активное состояние ткущ элемента
*/



.contact-form-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0;
    margin-bottom: 30px;
}

.submit-btn{
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.contact-form-input:focus + .form-label,
.contact-form-input:not(:placeholder-shown) + .form-label{
    color:var(--accent-color);  
    -webkit-transform: translateY(-50px) translateX(-70%);  
        -ms-transform: translateY(-50px) translateX(-70%);  
            transform: translateY(-50px) translateX(-70%); 
    margin-top: 10px;
}
/* + потому что после input */
.form-fild{
    position: relative;
    display: block;
}

.form-label{
    position: absolute;
    top: 50%;
    left: 42px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    -o-transition: transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
}
.icon{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 19px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.contact-form-input:focus ~ .icon{
    fill: var(--accent-color);
}


.modal-form-checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0 );
    overflow: hidden;
}

 /* .backdrop.is-hidden{
    opacity: 0; 
    visibility: hidden;
    pointer-events: none;
}   */

.modern-form-option-span a {
    color:var(--accent-color)
}

.modal-form-custom-checkbox{
    display: inline-block;
    width: 16px;
    height: 16px;
    outline: 1px solid #212121;
    margin-right: 8px;
}
.modal-form-checkbox:checked + .modal-form-custom-checkbox{
    background-color:var(--accent-color);
    border-radius: 2px;
    background-image: url('../image/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.modal-close-btn{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor:pointer;
    top: 8px;
    right: 8px;
    -webkit-transition: color 250ms linear;
    -o-transition: color 250ms linear;
    transition: color 250ms linear;
    
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    fill:var(--accent-color);
}

.modern-form-option-label{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}  
.conditions{
   border-bottom: 1px solid var(--accent-color);
   text-decoration: none;
}
© 2020 GitHub, Inc.











            /* LESSON 3 */

/* 
html{ 
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
} */


